#CardGlass {
  background: rgba(255, 255, 255, 0.07);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 1px solid rgba(43, 41, 41, 0.45);
}
#CardGlass:hover {
  box-shadow: 0 4px 8px 0 rgba(31, 29, 29, 0.2),
    0 6px 20px 0 rgba(49, 48, 48, 0.19);
}

.containerbox {
  width: 600px;
  margin-left: 70%;
}
#formobile {
  display: none;
}
@media only screen and (max-width: 700px) {
  .containerbox {
    width: auto;
    margin-left: 0%;
  }
  #formlarge {
    position: relative;
    left: 0px;
    display: none;
  }
  #formobile {
    display: flex;
  }
}
